@CHARSET "UTF-8";

body {
	font-size: 16px;
}

.add {
	marging-top: 20px;
	marging-left: 20px;
}

.table {
	border-collapse: collapse;
}

.header {
	border-bottom: 3px solid darkgrey;
}

.diez {
	font-weight: bold;
	width: 30px;
}

.first_colomn, .second_colomn {
	width: 200px;
	color: black;
	font-weight: bold:
}

.contacts {
	border-bottom: 1px solid grey;
}

.buttons {
	width: 200px;
}

.firstName, .lastName {
	height: 50px;
}